.container-form{
    margin: auto;
    width: 45%;
    height: auto;
    text-align: left;
    margin-left: 16%;
    padding-bottom: 20px;
    background-color: rgb(0, 255, 55);
}

#title-container{
    width: auto;
    text-align: left;
    margin: auto;
    margin-left: 0%;
    padding-left: 0;
}

#title-container div{
    display: inline-flex;
    align-items: baseline;
    padding: 40px;
    padding-left: 0;
    margin-left: 0;
}

.container-separator{
    margin: 100px;
    width: 650px;
}

#form-Container{
    display: flex;
    height: 600px;
    width: 100%;
}

#form-Container form {
    margin: auto;
}

#backgrounImagesContainer{
    top: 0px;
    width: 38%;
    height: auto;
    background-color: aqua;
}

#handbrakeDrawing{
}

#handbrakeRender{
    height: 300px;
    right: 0px;
}