.container-form{
    margin: auto;
    width: 750px;
    height: auto;
    text-align: left;
    display: block;
}

#title-container{
    width: auto;
    text-align: center;
    margin: auto;
    margin-left: 0%;
    padding-left: 0;
}

#title-container div{
    display: inline-flex;
    align-items: baseline;
    padding-top: 40px;
    padding-bottom: 40px;
    width: auto;
    margin: auto;
}

.container-separator{
    margin: 100px;
    width: 650px;
}

#form-Container {
    margin: auto;
    width: 600px;
}
