@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700;800;900&display=swap');

* {
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #262626;
  font-size: 14pt;
}

nav ul li a {

    font-size: 14pt;
    font-weight: 400;
    color: #262626;
}

.headerText-Black {
  font-size: 70pt;
  font-weight: 300;
  color: #262626;
}

.headerText-Purple {
  font-size: 110pt;
  font-weight: 700;
  color: #3B006D;
  line-height: 100%;
}

.MiMundo-TextI {
  font-size: 70pt;
  font-weight: 300;
  color: #262626;
}

.MiMundo-TextPurpleI {
  font-size: 110pt;
  font-weight: 700;
  color: #3B006D;
  line-height: 100%;
}

.MiMundo-TextLastModule {
  font-size: 60pt;
  font-weight: 300;
  color: #262626;
  line-height: 110%;
}

.MiMundo-TextPurpleLastModule {
  font-size: 80pt;
  font-weight: 700;
  color: #3B006D;
  line-height: 100%;
}

#form-Container {
  font-size: 20pt;
  font-weight: 400;
  color: #262626;
  line-height: 110%;
}




