.container-div{
    margin: auto;
    width: 650px;
    height: auto;
    margin-top: 2%;
    text-align: left;
    padding: 5%;
    display: block;
    border
}

#boton{
    background-color: #007bff;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.05);
    color: #fff;
    border-style: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

#boton:hover{
    background-color: #0056b1;
}

.formGroup {
    margin-top: 20px;
}

.input-box{
    font-size: 12pt;
    padding: 1%;
    width: 80%;
    border-radius: 5px;
    border-width: 2px;
    border-color: #b9dbff;
    border-style: solid;
}

.input-box:focus{
    outline: #ff00ee;
    border-width: 0%;
    box-shadow: 0px 0px 10px rgba(0, 251, 255, 0.15);

}