
header {
    padding: 0;
    margin: 0;
    border-color: rgb(255, 0, 255);
    border-style: solid;
    max-width: 100%;
}

.headerContainer {
    max-width: 100%;
    height: 650px;
    border-color: rgb(0, 34, 255);
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
}

#handbrakeDrawing {
    position: absolute;
    height: 580px;
    right: 7%;
    top: 50px;
}

#handbrakeRender {
    position: absolute;
    height: 650px;
    left: 13%;
}

#miMundo-ResaltadoBox {
    position: absolute;
    height: 300px;
    width: 100%;
    background-image: linear-gradient(to right, #ffffff00, #ffffff 50%, #ffffff00 90%);
    top: 20%;
}

.headerTextContainer {
    position: absolute;
    width: 100%;
    text-align: center;
}